* {
    box-sizing: border-box;
}
body{
    margin: 0;  background-color: #1B1D1F;
}
.gallery{
    max-width: 100%;
    padding: 10% 20%;
    display:flex 
    justify-content: center; 
}
.logo{
    max-width: 4rem;
    display: flex;
    justify-content: space-between;
}
/* Header */
header{
    color: #444549; 
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
}
/* hvis vi vil have text centreret */
main{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
h1, p {
    color: aliceblue;
    padding: 0px 20px;
}

/*index.html*/

.hero {
    background: url(../img/mD5dwdL8.mp4); /*url(../img/) så kommer vi ud af CSS mappen og finder vores billed */
    background-size: cover;
    min-height: 90vh; /*vh=viewheight det betyder altså den cutter af og transformere billedet om*/
    width: 100%;
    display: flex; /* giver mulighed for at rykke rundt på teksten og knapper rundt på baggrundsbilledet */ 
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
}
.bakcgroundvideo {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9){
    .bakcgroundvideo{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .bakcgroundvideo{
        width: auto;
        height: 100%;
    }
}
.cta {
    background-color: #EFAD15;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;/*øverst højre, øverst venstre, nederest højre og nederest venstre*/
    text-decoration: none;
}
.cta:hover {
    background-color: black;
}
main > h1 {
    color:aliceblue;
    border-bottom: 2px solid black;
    padding: 10px;
    /*RedGreenBlueAlpha(255, 0,0, 0.5); transperant*/
}
.italic1{
    text-align: center;
    font-style: italic;
}
.italic{
    text-align: center;
    font-style: italic;
}
span{
    color: #EFAD15;
}
.gallery img{
    aspect-ratio: 1/1;
    object-fit: cover;

}
footer{
    background-color:  #EFAD15;
    color: #444549; 
    font-size: 2rem;
    padding: 15px;
    text-align: center;
}