* {
    box-sizing: border-box;
}
body{
    margin: 0;  background-color: #1B1D1F;
}
.gallery{
    max-width: 100%;
    padding: 10% 20%;
    display:flex 
    justify-content: center; 
}


.logo{
    max-width: 40%;
    display: flex;
    justify-content: space-between;
}
/* Header */
header{
    background-color:  #EFAD15;
    color: #444549; 
    font-size: 3rem;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
p{
    color: aliceblue;
    padding: 0px 20px;
}
/* hvis vi vil have text centreret */
main{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}


h1{
    color:aliceblue;
    border-bottom: 2px solid black;
    padding: 10px;
    /*RedGreenBlueAlpha(255, 0,0, 0.5); transperant*/
}

.italic1{
    text-align: center;
    font-style: italic;
}

.italic{
    text-align: center;
    font-style: italic;
}
span{
    color: #EFAD15;
}

.gallery img{
    aspect-ratio: 1/1;
    object-fit: cover;

}

footer{
    background-color:  #EFAD15;
    color: #444549; 
    font-size: 2rem;
    padding: 15px;
    text-align: center;
}